services:

  db:
    container_name: auth_db
    image: postgres:16-alpine
    ports:
      - "5433:5432"
    restart: on-failure:5
    environment:
      POSTGRES_USER: auth-user
      POSTGRES_PASSWORD: auth-password
      POSTGRES_DB: auth

  auth:
    container_name: game-library-auth
    image: game-library-auth:latest
    ports:
      - "8001:8000"
      - "6061:6060"
      - "9001:9000"
    environment:
      DB_DSN: postgres://auth-user:auth-password@db/auth?sslmode=disable
      APP_HTTP_ADDRESS: 0.0.0.0:8000
      APP_DEBUG_ADDRESS: 0.0.0.0:6060
      APP_GRPC_ADDRESS: 0.0.0.0:9000
    depends_on:
      - db

  mng:
    container_name: game-library-auth-mng
    image: game-library-auth-mng:latest
    environment:
      DB_DSN: postgres://auth-user:auth-password@db/auth?sslmode=disable
    depends_on:
      - db
