<html>
    {{template "partials/header" .}}
    <body>
        <h3>Login</h3>
        <form action="/login?returnUrl={{ .ReturnUrl}}" method="POST">
            {{if .Error}}
                <div>
                    Errors: {{ .Error}}
                </div>
            {{end}}
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div>
                <label for="pass">Password:</label>
                <input type="password" id="pass" name="password" required>
            </div>

            <div>
                <input type="submit" value="Sign in">
            </div>
        </form>
    </body>
</html>